body {
  font-family: sans-serif;
  line-height: 1.2;
  background-color: #eee;
  font-size: 18px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0 20px;
  box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.17);
}

.card .data,
.organisation,
.order,
.amount-sended,
.requirement {
  margin-bottom: 20px;
}

h3,
h4 {
  padding: 0;
  margin: 0;
}

.data span,
.order-data span,
h4 {
  font-size: 14px;
  font-weight: normal;
  color: #888;
}

.order-data {
  margin-left: 5px;
}

.status.pending {
  color: #41535b;
}
.status.paid {
  color: blue;
}
.status.submitted {
  color: green;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 915px) {
  .col-md-4 {
    width: 100%;
    padding: 0 20px;
  }
  .box {
    margin: 10px auto 20px;
  }
}